@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@keyframes color-change {
  0% {
    color: rgb(165, 0, 0);
  }
  10% {
    color: orangered;
  }
  20% {
    color: orange;
  }
  30% {
    color: green;
  }
  40% {
    color: teal;
  }
  50% {
    color: rgb(0, 73, 184);
  }
  60% {
    color: indigo;
  }
  70% {
    color: purple;
  }
  80% {
    color: #3d0066;
  }
  90% {
    color: black;
  }
  100% {
    color: rgb(165, 1, 1);
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  margin-top: 70%;
  margin-left: 15%;
  width: 20vw;
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 90%);
  }
}
:root {
  --title: "Bungee", cursive;
}

.gameTile svg {
}

body {
  background-color: #5a5a5a;
  min-width: 320px;
  margin: 0;
  padding-left: 5vw;
  padding-right: 5vw;
}

.title {
  font-family: var(--title);
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  font-size: 35px;
}

#content {
  width: 100%;
}

#gameSelect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 28.5vw);
  gap: 2vw;
  width: 100%;
}

.gameTile > h3 {
  font-size: 12px;
  position: relative;
  bottom: 50px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--title);
  line-height: 14px;
  color: white;
  font-weight: 100;
  text-align: center;
}

.gameTile {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  cursor: pointer;

  /* fancy border stuff */
  --clr: rgb(156, 17, 255);
  --outline: 2px solid rgb(255, 255, 255);
  color: var(--clr);
  border: var(--outline);
  outline-offset: -2px;
  transition: outline-width 150ms ease, outline-offset 150ms ease;
  border-radius: 13px;
}

.gameTile:hover,
.gameTile:focus,
.selected {
  outline: var(--outline);
  outline-width: 8px;
  outline-offset: -8px;
}

.gameTile > img {
  height: 100%;
  width: 100%;
}

#rankSelect {
  display: grid;
}
.rankTile {
  display: flex;
}
