@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
    --title: 'Bungee', cursive;

}

@keyframes color-change {
    0% { color: rgb(165, 0, 0); }
    10% { color: orangered;}
    20% { color: orange;}
    30% { color: green;}
    40% { color: teal}
    50% { color: rgb(0, 73, 184);}
    60% { color: indigo; }
    70% { color: purple; }
    80% { color: #3d0066;}
    90% { color: black;}
    100% { color: rgb(165, 1, 1); }
  }

body {
    background-color: aliceblue;
}



.title {
    font-family: var(--title);
    text-align: center;
    font-size: 40px;
    animation: color-change 15s infinite;
}