@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  margin-top: 70%;
  margin-left: 15%;
  width: 20vw;
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 65%);
  }
  100% {
    background-color: hsl(200, 20%, 90%);
  }
}
:root {
  --title: "Bungee", cursive;
}

.gameTile svg {
  width: 100%;
  height: 100%;
  filter: opacity(50%);
  animation: skeleton-loading 1s linear infinite alternate;
}

body {
  background-color: #5a5a5a;
  min-width: 320px;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5;
  padding: 0;
  margin: 0;
}

.title {
  font-family: var(--title);
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  font-size: 35px;
}

#content {
  width: 100%;
}

#gameSelect,
#rankSelect {
  display: grid;
  width: 100%;
}

.gameTile > h3,
.rankTile > h3 {
  font-size: 10px;
  position: relative;
  bottom: 50px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--title);
  line-height: 14px;
  color: white;
  font-weight: 100;
  text-align: center;
}
.rankTile > h3 {
  bottom: 0px;
  top: 65%;
}

.gameTile,
.rankTile {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  cursor: pointer;

  /* fancy border stuff */
  --clr: rgb(156, 17, 255);
  --outline: 2px solid rgb(255, 255, 255);
  color: var(--clr);
  border: var(--outline);
  outline-offset: -2px;
  transition: outline-width 150ms ease, outline-offset 150ms ease;
  border-radius: 13px;
}

.gameTile:hover,
.gameTile:focus,
.selected {
  outline: var(--outline);
  outline-width: 8px;
  outline-offset: -8px;
}

.gameTile > img {
  height: 100%;
  width: 100%;
}

#rankSelect {
  display: grid;
}

.rankTile {
  background-color: rgb(64, 64, 64);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: brightness(60%);
}

@media only screen and (max-width: 500px) {
  .rankTile > h3 {
    font-size: 0.7rem;
  }
}

#submitButton {
  width: 120px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 3px solid black;
  font-family: var(--title);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#submitButton > h4 {
  position: relative;
  text-align: center;
  margin-top: 5px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.enabled {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}
